.main-content {
  background: url("../img/Background.png");
}

.products-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.products__item {
  height: 580px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.products-item__title {
  margin-top: 60px;
  margin-bottom: 25px;
  text-align: center;
  font-size: 37px;
  font-family: 'Bebas Neue', cursive;
  text-transform: uppercase;
  line-height: 1;
}

.products-item__title_1 {
  margin-top: 35px;
}

.products-item__subtitle {
  margin-bottom: 35px;
  max-width: 340px;
  text-align: center;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.25;
}

.btn__pop-up-open {
  border: none;
  cursor: pointer;
  padding: 10px 50px;
  color: white;
  background: #bf2222;
  font-size: 16px;
  font-family: 'Bungee Inline', cursive;
  text-transform: uppercase;
  line-height: 2.25;
}

body {
  margin: 0;
}

html:root {
  --swiper-theme-color:rgb(176, 145, 101);
}

body {
  color: #b09165;
}

.info-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.title {
  font-size: 25px;
  font-family: 'Bebas Neue', cursive;
  text-transform: uppercase;
  line-height: 1.5;
  margin-top: 90px;
  margin-bottom: 25px;
}

.subtitle {
  font-family: 'Bungee Inline', cursive;
  text-transform: uppercase;
  line-height: 0.75;
  margin-bottom: 25px;
}

.text {
  max-width: 1050px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.75;
}

.popup {
  overflow: auto;
  -webkit-transition: .6s;
  -o-transition: .6s;
  transition: .6s;
  -webkit-transform: translate(-130%);
  -ms-transform: translate(-130%);
  transform: translate(-130%);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

._PopUp-active {
  -webkit-transform: translate(0%);
  -ms-transform: translate(0%);
  transform: translate(0%);
}

.popup__body {
  margin: auto;
  overflow: auto;
  background-color: black;
  border-radius: 20px;
}

.popup__container {
  position: relative;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.popup__close {
  cursor: pointer;
  color: grey;
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  top: 0;
  left: 90%;
}

.popup__close:hover {
  -webkit-transition: .8s;
  -o-transition: .8s;
  transition: .8s;
  color: red;
}

.products-item__price {
  font-size: 24px;
  font-family: 'Bungee Shade', cursive;
  margin-bottom: 20px;
}

@media screen and (max-width: 2000px) {
  .subtitle {
    font-size: 50px;
  }
  .text {
    font-size: 16px;
  }
  .img-block-section1 {
    width: auto;
  }
  .img-block-section2 {
    width: auto;
  }
}

@media screen and (max-width: 1232px) {
  .img-block-section1 {
    width: 100%;
  }
  .img-block-section2 {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .subtitle {
    font-size: 40px;
  }
  .text {
    font-size: 14px;
  }
}

@media screen and (max-width: 405px) {
  .subtitle {
    font-size: 30px;
  }
  .text {
    font-size: 12px;
  }
}

@media screen and (max-width: 305px) {
  .subtitle {
    font-size: 25px;
  }
  .text {
    font-size: 12px;
  }
}

.img-block__container {
  padding: 50px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 1250px;
  margin: 0 auto;
}

.img-block-section2 {
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.img-block-section2 img {
  max-width: 100%;
}

.img-block-section1 {
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.img-block-section1 img {
  max-width: 100%;
}

.swiper__container {
  margin: 0 auto;
  max-width: 920px;
  text-align: center;
  margin-top: 60px;
  padding-bottom: 150px;
}

.swiper-slide img {
  max-width: 100%;
}

.intro {
  height: 100vh;
  background: url("../img/introbg_01.jpg") center no-repeat;
  background-size: cover;
}

.header {
  height: 25%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__wrapper {
  padding: 10px;
  max-width: 1330px;
  margin: 0 auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.navbarContact {
  font-family: 'Bebas Neue', cursive;
  text-transform: uppercase;
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-right: 20px;
}

.navbarContact div {
  font-size: 30px;
}

.navbarContact div span {
  font-size: 40px;
}

.navbarContact img {
  position: relative;
  bottom: 20px;
  left: 20px;
}

.navbar__menu {
  font-family: 'Bebas Neue', cursive;
  position: relative;
  top: 20px;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 550px;
}

.navbar__menu a {
  padding: 15px 20px;
  font-size: 30px;
  color: #b09165;
  text-transform: uppercase;
  line-height: 1.2;
  text-decoration: none;
  color: #b09165;
}

.navbar__menu a:hover {
  background: #745f44;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
}

.burger-menu {
  cursor: pointer;
  position: relative;
  width: 50px;
  height: 35px;
  display: none;
  margin-left: 10px;
}

.burger-menu span, .burger-menu:after, .burger-menu:before {
  height: 3px;
  width: 100%;
  position: absolute;
  background: #b09165;
  margin: 0 auto;
  -webkit-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

.burger-menu:after {
  content: '';
  top: 30px;
}

.burger-menu:before {
  content: '';
  top: 15px;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

div .burger__menu-list.active {
  position: relative;
  display: block;
  position: relative;
  left: 0%;
}

.active:focus span {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0;
}

.active:focus:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 0;
}

.active:focus:before {
  display: none;
}

.burger__menu-list {
  position: relative;
  z-index: 10;
  -webkit-transition: .5s linear;
  -o-transition: .5s linear;
  transition: .5s linear;
  left: -130%;
}

.burger__menu-list ul {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 0em;
  margin-block-start: 0em;
  -webkit-margin-after: 0em;
  margin-block-end: 0em;
  -webkit-margin-start: 0px;
  margin-inline-start: 0px;
  -webkit-margin-end: 0px;
  margin-inline-end: 0px;
  -webkit-padding-start: 0px;
  padding-inline-start: 0px;
}

.burger__menu-list ul li {
  list-style-type: none;
  padding: 20px;
  background: #745f44;
  border: 2px solid grey;
}

.burger__menu-list ul li a {
  font-size: 20px;
  color: #b09165;
  text-transform: uppercase;
  line-height: 1.2;
  text-decoration: none;
  color: #b09165;
}

.intro-main {
  position: relative;
  height: 75%;
}

@media screen and (max-width: 4200px) {
  .intro-main__column1-title {
    font-size: 90px;
  }
  .intro-main__column1-price {
    font-size: 111px;
  }
  .intro-main__column1-subtitle {
    font-size: 20px;
  }
}

@media screen and (max-width: 1200px) {
  .intro-main__column2 {
    display: none;
  }
  .intro-main__container {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .intro-main {
    height: 85%;
  }
  .navbar__menu {
    display: none;
  }
  .navbarContact {
    display: none;
  }
  .burger-menu {
    display: block;
  }
  .header {
    height: 100px;
  }
  .header {
    height: 15%;
  }
  .intro-main__column1-title {
    font-size: 70px;
  }
  .intro-main__column1-price {
    font-size: 81px;
  }
}

@media screen and (max-width: 370px) {
  .intro-main__column1-price {
    font-size: 60px;
  }
  .intro-main__column1-title {
    font-size: 50px;
  }
  .intro-main__column1-subtitle {
    font-size: 14px;
  }
}

.intro-main__container {
  position: relative;
  top: -40%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 1160px;
  margin: 0 auto;
}

.intro-main__column1-title {
  max-width: 475px;
  line-height: 1;
  font-family: 'Bungee Inline', cursive;
  text-transform: uppercase;
  text-align: left;
}

.intro-main__column1-subtitle {
  height: 100px;
  margin-top: 20px;
  border-bottom: 1px solid #745f44;
  border-top: 1px solid #745f44;
  padding: 20px 0px;
  text-align: center;
  font-weight: 900;
  max-width: 200px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  line-height: 1.332;
}

.intro-main__column1-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.intro-main__column1-price {
  position: relative;
  top: -50px;
  font-family: 'Bungee Shade', cursive;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/*
font-family: 'Bebas Neue', cursive;
font-family: 'Bungee Inline', cursive;
font-family: 'Bungee Shade', cursive;
font-family: 'Montserrat', sans-serif;
*/
