.main-content {
  background: url("../img/Background.png") center no-repeat;
  background-size: cover;
}

.products-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.products__item {
  height: 580px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.products-item__title {
  margin-top: 60px;
  margin-bottom: 25px;
  text-align: center;
  font-size: 37px;
  font-family: 'Bebas Neue', cursive;
  text-transform: uppercase;
  line-height: 1;
}

.products-item__title_1 {
  margin-top: 35px;
}

.products-item__subtitle {
  margin-bottom: 35px;
  max-width: 340px;
  text-align: center;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.25;
}

.btn__pop-up-open {
  border: none;
  cursor: pointer;
  padding: 10px 50px;
  color: white;
  background: #bf2222;
  font-size: 16px;
  font-family: 'Bungee Inline', cursive;
  text-transform: uppercase;
  line-height: 2.25;
}

body {
  margin: 0;
}

html:root {
  --swiper-theme-color:rgb(176, 145, 101);
}

body {
  color: #b09165;
}

.info-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.title {
  font-size: 25px;
  font-family: 'Bebas Neue', cursive;
  text-transform: uppercase;
  line-height: 1.5;
  margin-top: 90px;
  margin-bottom: 25px;
}

.subtitle {
  font-family: 'Bungee Inline', cursive;
  text-transform: uppercase;
  line-height: 0.75;
  margin-bottom: 25px;
}

.text {
  max-width: 1050px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.75;
}

.errorform {
  position: relative;
  font-family: 'Bungee Inline', cursive;
  color: red;
  text-align: center;
  text-transform: uppercase;
}

.popup {
  overflow: auto;
  -webkit-transition: .6s;
  -o-transition: .6s;
  transition: .6s;
  -webkit-transform: translate(-130%);
  -ms-transform: translate(-130%);
  transform: translate(-130%);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

._PopUp-active {
  -webkit-transform: translate(0%);
  -ms-transform: translate(0%);
  transform: translate(0%);
}

.popup__body {
  margin: auto;
  overflow: auto;
  background-color: black;
  border-radius: 20px;
}

.popup__container {
  position: relative;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.popup__close {
  cursor: pointer;
  color: grey;
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  top: 0;
  left: 90%;
}

.popup__close:hover {
  -webkit-transition: .8s;
  -o-transition: .8s;
  transition: .8s;
  color: red;
}

.products-item__price {
  font-size: 24px;
  font-family: 'Bungee Shade', cursive;
  margin-bottom: 20px;
}

@media screen and (max-width: 8000px) {
  .subtitle {
    font-size: 50px;
  }
  .text {
    font-size: 16px;
  }
  .img-block-section1 {
    width: auto;
  }
  .img-block-section2 {
    width: auto;
  }
  .form {
    margin-left: 20%;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    max-width: 780px;
  }
  .form input {
    max-width: 380px;
  }
  .footer__content-copyright_adaptive {
    display: none;
  }
  .footer__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .footer__content-column2 {
    position: relative;
    bottom: 0px;
  }
  .footer__content-column2 div div {
    font-size: 21px;
  }
}

@media screen and (max-width: 1232px) {
  .img-block-section1 {
    width: 100%;
  }
  .img-block-section2 {
    width: 100%;
  }
}

@media screen and (max-width: 860px) {
  .footer__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .footer__content-copyright {
    display: none;
  }
  .footer__content-copyright_adaptive {
    display: block;
  }
  .footer__content-column2 {
    position: relative;
    bottom: 30px;
  }
}

@media screen and (max-width: 600px) {
  .subtitle {
    font-size: 40px;
  }
  .text {
    font-size: 14px;
  }
  .form {
    margin-left: 0px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    max-width: 100%;
  }
  .form input {
    max-width: 100%;
  }
}

@media screen and (max-width: 405px) {
  .subtitle {
    font-size: 30px;
  }
  .text {
    font-size: 12px;
  }
}

@media screen and (max-width: 310px) {
  .footer__content-column2 div div {
    font-size: 16px;
  }
  .subtitle {
    font-size: 25px;
  }
  .text {
    font-size: 12px;
  }
}

.img-block__container {
  padding: 50px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 1250px;
  margin: 0 auto;
}

.img-block-section2 {
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.img-block-section2 img {
  max-width: 100%;
}

.img-block-section1 {
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.img-block-section1 img {
  max-width: 100%;
}

.swiper__container {
  margin: 0 auto;
  max-width: 920px;
  text-align: center;
  margin-top: 60px;
  padding-bottom: 150px;
}

.swiper-slide img {
  max-width: 100%;
}

.intro {
  min-height: 600px;
  height: 100vh;
  background: url("../img/introbg_01.jpg") center no-repeat;
  background-size: cover;
}

header {
  width: 100%;
  top: 0;
  left: 0;
  z-index: 20;
  height: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.container {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
  padding: 10px;
  position: relative;
}

.content-wrapper {
  width: 100%;
}

.header__navMain {
  position: absolute;
  right: 36px;
  display: block;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 2;
}

.header__menu li {
  list-style: none;
  margin: 0px 0px 0px 36px;
  color: #000;
  font-weight: 600;
  font-size: 18px;
  text-decoration: none;
  -webkit-transition: 1s linear;
  -o-transition: 1s linear;
  transition: 1s linear;
}

.content-wrapper {
  margin-top: 78px;
  padding: 10px;
  line-height: 34px;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.logo {
  font-weight: 700;
  font-size: 20pt;
}

.menu-burger__header.active span {
  -webkit-transform: scale(0) translate(0, -50%);
  -ms-transform: scale(0) translate(0, -50%);
  transform: scale(0) translate(0, -50%);
}

.menu-burger__header.active::before {
  top: 50%;
  -webkit-transform: translate(0px, -50%) rotate(-45deg);
  -ms-transform: translate(0px, -50%) rotate(-45deg);
  transform: translate(0px, -50%) rotate(-45deg);
}

.menu-burger__header.active::after {
  bottom: 50%;
  -webkit-transform: translate(0px, 50%) rotate(45deg);
  -ms-transform: translate(0px, 50%) rotate(45deg);
  transform: translate(0px, 50%) rotate(45deg);
}

.intro-main {
  position: relative;
  height: 75%;
}

.header__menu li a {
  font-family: 'Montserrat', sans-serif;
}

@media screen and (max-width: 4200px) {
  .header__menu li {
    cursor: pointer;
    padding: 10px 20px;
  }
  .header__menu li a {
    color: #b09165;
    font-size: 21px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
  }
  .header__menu li:hover {
    -webkit-transition: 1s ease;
    -o-transition: 1s ease;
    transition: 1s ease;
    background-color: #745f44;
  }
  .header__menu li:last-child {
    display: none;
  }
  .navbarContact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .intro-main__column1-title {
    font-size: 90px;
  }
  .intro-main__column1-price {
    font-size: 111px;
  }
  .intro-main__column1-subtitle {
    font-size: 20px;
  }
}

@media (max-width: 983px) {
  .navbarContact {
    display: none;
  }
  ul {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 0em;
    margin-block-start: 0em;
    -webkit-margin-after: 0em;
    margin-block-end: 0em;
    -webkit-margin-start: 0px;
    margin-inline-start: 0px;
    -webkit-margin-end: 0px;
    margin-inline-end: 0px;
    -webkit-padding-start: 0px;
    padding-inline-start: 0px;
  }
  .header__menu li:last-child {
    display: none;
  }
  .header__nav {
    display: block;
    position: absolute;
    top: 100%;
    background: #b09165;
    -webkit-box-shadow: #ccc;
    box-shadow: #ccc;
    width: 100%;
    -webkit-box-shadow: 0 4px 2px -2px rgba(36, 36, 36, 0.37);
    box-shadow: 0 4px 2px -2px rgba(36, 36, 36, 0.37);
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    left: -100%;
    z-index: 10;
  }
  .header__menu {
    display: block;
  }
  .header__nav.open-menu {
    left: 0;
  }
  .header__menu li {
    margin: 0;
    padding: 30px;
    font-size: 14px;
    border: 2px solid grey;
  }
  .header__menu li a {
    font-size: 1em;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
  }
  .menu-burger__header {
    position: relative;
    width: 40px;
    height: 35px;
    display: block;
    margin-left: 10px;
  }
  .menu-burger__header span, .menu-burger__header:after, .menu-burger__header:before {
    height: 3px;
    width: 100%;
    position: absolute;
    background: #515758;
    margin: 0 auto;
    -webkit-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
  }
  .menu-burger__header span {
    top: 16px;
  }
  .menu-burger__header:after, .menu-burger__header:before {
    content: '';
  }
  .menu-burger__header:after {
    bottom: 5px;
  }
  .menu-burger__header:before {
    top: 5px;
  }
  .menu-burger__header.open-menu span {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }
  .menu-burger__header.open-menu:before {
    -webkit-transform: rotate(38deg);
    -ms-transform: rotate(38deg);
    transform: rotate(38deg);
    top: 16px;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }
  .menu-burger__header.open-menu:after {
    -webkit-transform: rotate(-38deg);
    -ms-transform: rotate(-38deg);
    transform: rotate(-38deg);
    bottom: 16px;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }
  header {
    height: 100px;
  }
  .content-wrapper {
    margin-top: 48px;
  }
  .fixed-pade {
    overflow: hidden;
  }
}

@media screen and (max-width: 1200px) {
  .intro-main__column2 {
    display: none;
  }
  .intro-main__container {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .intro-main {
    height: 85%;
  }
  .navbar__menu {
    display: none;
  }
  .burger-menu {
    display: block;
  }
  .header {
    height: 100px;
  }
  .header {
    height: 15%;
  }
  .intro-main__column1-title {
    font-size: 70px;
  }
  .intro-main__column1-price {
    font-size: 81px;
  }
}

@media screen and (max-width: 370px) {
  .intro-main__column1-price {
    font-size: 60px;
  }
  .intro-main__column1-title {
    font-size: 50px;
  }
  .intro-main__column1-subtitle {
    font-size: 14px;
  }
}

.intro-main__container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 1160px;
  margin: 0 auto;
}

.intro-main__column1-title {
  max-width: 475px;
  line-height: 1;
  font-family: 'Bungee Inline', cursive;
  text-transform: uppercase;
  text-align: left;
}

.intro-main__column1-subtitle {
  height: 100px;
  margin-top: 20px;
  border-bottom: 1px solid #745f44;
  border-top: 1px solid #745f44;
  padding: 20px 0px;
  text-align: center;
  font-weight: 900;
  max-width: 200px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  line-height: 1.332;
}

.intro-main__column1-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.intro-main__column1-price {
  position: relative;
  top: -50px;
  font-family: 'Bungee Shade', cursive;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.navbarContact {
  font-family: 'Bebas Neue', cursive;
  text-transform: uppercase;
  text-align: right;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-right: 20px;
}

.navbarContact div {
  font-size: 30px;
}

.navbarContact div span {
  font-size: 40px;
}

.navbarContact img {
  position: relative;
  left: 20px;
}

.navbar__menu {
  font-family: 'Bebas Neue', cursive;
  position: relative;
  top: 20px;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 550px;
}

.navbar__menu a {
  padding: 15px 20px;
  font-size: 30px;
  color: #b09165;
  text-transform: uppercase;
  line-height: 1.2;
  text-decoration: none;
  color: #b09165;
}

.navbar__menu a:hover {
  background: #745f44;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
}

.form {
  margin-top: 80px;
  grid-gap: 25px;
  display: -ms-grid;
  display: grid;
}

.form input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 25px;
  border: #745f44 solid 1px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0);
  color: #745f44;
  text-transform: uppercase;
}

.form input::-webkit-input-placeholder {
  color: #745f44;
}

.form input:-ms-input-placeholder {
  color: #745f44;
}

.form input::-ms-input-placeholder {
  color: #745f44;
}

.form input::placeholder {
  color: #745f44;
}

.form input:focus {
  border: #745f44 solid 1px;
}

.form button {
  cursor: pointer;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 25px;
  border: #745f44 solid 1px;
  border-radius: 10px;
  background-color: #b09165;
  color: #fff;
  font-weight: 700;
  font-family: 'Bungee Inline', cursive;
  font-size: 20px;
  text-transform: uppercase;
}

.footer {
  margin-top: 150px;
  padding: 20px 10px;
}

.footer__content {
  background: url("../img/picture.png") center no-repeat;
  background-size: cover;
  min-height: 530px;
  max-width: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.footer__content-column1-p {
  font-size: 16.667px;
  font-family: 'Montserrat', sans-serif;
  color: white;
  line-height: 1.5;
  max-width: 550px;
}

.footer__content-column1 {
  height: 530px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.footer__content-column1-logo {
  position: relative;
  top: 60px;
}

.footer__content-copyright {
  font-size: 16.667px;
  font-family: 'Bebas Neue', cursive;
  font-size: 18px;
  color: white;
  line-height: 1.2;
}

.footer__content-column2 div div {
  font-family: 'Bebas Neue', cursive;
  color: white;
  line-height: 1.8;
}

.footer__content-column2 div div img {
  margin-right: 20px;
}

/*
font-family: 'Bebas Neue', cursive;
font-family: 'Bungee Inline', cursive;
font-family: 'Bungee Shade', cursive;
font-family: 'Montserrat', sans-serif;
*/
